body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
img {
    max-width: 300px;
    border: 1px black solid;
    margin: 1rem;    
    border-radius: 10px;
}
[data-src] {
    filter: blur(.15em);
    transition: filter 0.5s;
}