/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 65rem) {
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        align-items: center;
    }
    nav ul li a {
        font-size: 1.2rem;
        padding: 0rem;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
}